.card {
    border: 1px solid gray;
    border-radius: 2px;
    padding: 10px;
    flex-basis: 25%;
    width: 250px;
    min-height: 375px;
    margin: 10px;

}

.card-img {
    width: 250px;
    margin: auto;
    display: block;
    max-height: 250px;
    object-fit: cover;
}

.card-title {
    text-align: center;
    padding: 0;
    margin: 0px;
    margin-top: 15px;
}

.card-text {
    text-align: center;
    padding: 0;
    margin: 0px;
    margin-top: 10px;
}